<%- include('components/header', { pageTitle: 'Home Page' }) %>
<body>
    <%- include('components/createTicket') %>
    <h1>My tickets:</h1>
    <%- include('components/customer/ticketViewer') %>
    

</body>

